[Unit]
Description=game service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
#ExecStartPre=-/usr/bin/docker %n stop
#ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull "{{ image_name }}"
ExecStart=/usr/bin/docker run --rm --name %n \
-p 80:80 \
--stop-timeout 60 \
#registry.gitlab.com/dmktel/deus_task_240126/game-2048:build
"{{ image_name }}"
ExecStop=/usr/bin/docker -t %n stop

[Install]
WantedBy=default.target
